<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hnjca.wechat.dao.MealDao">

  <select id="selectMeal" resultType="java.lang.String">
        select userid from meal where userid = #{userid}
    </select>
    <select id="selectValue" resultType="java.lang.String">
        select value from meal where userid = #{userid}
    </select>

        <update id="updateMeal" parameterType="com.hnjca.wechat.dao.MealDao">
            update meal set value = #{value}, updatetime=#{updatetime} where userid = #{userid}
        </update>
    <!--
            <select id="selectBySection" parameterType="java.util.Map" resultType="com.hnjca.wechat.pojo.YYTest">
                select * from yy_test where  id between #{start} and #{end}
            </select>-->

    <insert id="addMeal" parameterType="com.hnjca.wechat.pojo.Meal">

        insert into meal
          (id,userid,name,value,creatime)
            values
          (#{id},#{userid},#{name},#{value},#{creatime})
    </insert>

</mapper>